@import url("https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    scroll-behavior:auto;
}
li{
  list-style: none;
}

a{
  text-decoration: none;
}
.wrapper {
  overflow-x: hidden;
  background:white;
}
/* Navbar Start */
nav {
  width: 100%;
  height: var(--nav);
  z-index: 100;
}
nav > .position-relative {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 105px;
  height: 38.368px;
}

nav > ul {
  margin-left: auto;
  margin-right: 5px;
  padding-top: 5px;
}

.btn-round {
  border-radius: var(--round);
}

nav ul > li:not(#signup) {
  margin: 16px 32px;
  list-style-type: none;
  display: inline-block;
}

li > a:hover:not(#signup) {
  color: var(--pink);
  transform: translateY(-10px) translateX(10px);
  border-bottom-color: var(--black);
}

#signup {
  border: 3px solid var(--black);
  border-radius: 12.5px;
  padding: 16px 32px;
  text-decoration: none;
  color: var(--black);
}

#signup:hover {
  background-color: var(--black);
  color: var(--white);
  transition: 0.5s ease, 0.5s ease;
}

li > a {
  text-decoration: none;
  color: var(--black);
  margin: 0px;
  padding-bottom: 4px;
  transition: all 0.35s ease-in-out;
  border-bottom: 1px groove transparent;
}

/* Navbar End */



/* Whitespace For Readability*/

/* Home Section Start */
header{
  width: 100vw;
}
#home .row{
  justify-content: center;
}
.hover {
  /* this is for two buttons below large text which have hover effect */
  font-size: 1rem;
  padding: 10px 20px;
  transition: all 0.35s ease-in-out;
}

.hover:hover {
  border-radius: 0px;
}

.hover1 {
  background: var(--pink);
  color: var(--black);
}

.hover1:hover,
.hover1:focus {
  background-color: var(--black);
  color: var(--white);
}

.hover2 {
  background: var(--white);
  color: var(--black);
}

.hover2:hover,
.hover2:focus {
  background-color: var(--pink);
  color: var(--black);
}


.white-guy{
  width:37.239583333333336vw;
  height: 35.026041666666664vw;
}

.solution {
  padding: 0.75vw 1.5vw;
  font-size: 1.5vw;
}
.hover1 {
  margin-right: 10px;
}

.hover2 {
  margin-left: 10px;
}

/* Home Section End */



/* About Section Starts Here */
#about-sc {
  width: 100vw;
}
.about-pic {
  width: 468px;
  height: 613px;
  padding: 0px;
}

.about-icon {
  width: 64px;
  height: 64px;
}
#about-txt{
  height: 613px;
}
#small-group{
  margin: 38.5px 0px;
}
.tick{
    /* margin-left: 20px; */
    margin-right: 20px;
    justify-content: center;
  }
/* About Section end */


/* Team Section Start */
  .team-body{
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  height: 208.5px;
}
.team-margin{
  margin-left: 13px;
  margin-top: 39px;
  text-align: left;
}

.card{
  border-radius: 0px;
  border:#201f1f;
}
.card-img-top{
  border-radius: 0px;
}
#our-team .card{
  width: 100%;
}
.txt{
  width: 80%;
}

#our-team .card{
  width: 80%;
}
#our-team .row{
  margin-left:5%;
}
#myCarousel .card{
    margin: auto;
    width: 90%;
}
/* Team Section End */



/* Connect Section Start */
#connect .row > div{
  margin: 0;
  padding: 0;
}
#email{
  width: 80%;
  border:1px solid #F5F5F5;
  background-color: #F5F5F5;
}
#email:focus{
  outline: none;
}
#submit-btn{
  padding:1rem 2rem;
  border:2px solid black;
  border-radius: 0px;
}
/* Connect Section End */


/* Footer Start */
footer{
  height: 475px;
  width: 100%;
}
.footer{
  background-color: rgba(23, 23, 23, 0.5);
  height: 100%;
  width: 100%;
}
.ul li{
  display: inline-block;
}
footer  .ul  li{
  text-align: center;
  margin-bottom:13px;
  margin-right: 43px;
}
footer a:hover{
  color:var(--pink)
}
#contact-ft{
  margin-left: 10px;
}
/* Footer End */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer div:nth-child(2) {
  flex-grow: 1;
}

#about-ft,
#service-ft,
#team-ft,
#project-ft,
#contact-ft,
#home-ft {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

#home-ft {
  margin-right: 0;
}

#home-ft {
  margin-bottom: 20px;
}

.ft-ul{
  text-align: center;
  padding:0px;
}
#our-services .card{
  margin: 0px 10px;
}

#first{
  width: 25%;
}
#second{
  width: 60%;
}
#third{
  width: 15%;
}
footer li a{
  color: var(--white);
}
footer li a:hover {
  color: var(--pink);
  transform: translateY(-10px) translateX(10px);
}
/* footer End */

#our-services .card-body{
padding: 1.75rem;
}
.logos{
  padding:4%;
  
}
  .fb{
    padding-left:5px;
    
  }
  .ln{
    padding-left: 2px;
    padding-top:5px;
    padding-bottom:5px;
  }
  .ig{
    padding-left: 2px;
  }
  #back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    padding: 10px 16px;
    border-radius: 8px;
  }
  
  #back-to-top:hover {
    cursor: pointer;
    background-color: #555;
  }
  img[alt="fb"]{
    width: 22px;
    height: 22px;
  }
  
:root {
  /* Website Colors */
  --black: #000000;
  --pink: #fc227b;
  --white: #ffffff;
  --dark: #201f1f;
  --round: 25px;
  --off-white:#eee;

  /* Other Utilities */

  /* Font */
  --Primary-font: "Poppins", sans-serif;
  --Secondary-font: "Rambla", sans-serif;



    /* Sizes */
    --nav:80px;
    --header:200px;
    --width:100%;

  }
  * {
    font-family: var(--Primary-font);
  }
  .bg-pink {
    background-color: var(--pink);
    color: var(--black);
  }
  .bg-black {
    background-color: var(--black);
    color: var(--white);
  }
  .bg-dark {
    background-color: var(--dark);
    color: var(--white);
  }
  .bg-white {
    background-color: var(--white);
    color: var(--black);
  }
  .bg-off-white {
    background-color: var(--off-white);
    color: var(--black);
  }

  .text-pink {
    color: var(--pink);
  }
  .text-black {
    color: var(--black);
  }
  .text-white {
    color: var(--white);
  }
  .txt-none {
    text-decoration: none;
  }
  .rambla {
    font-family: var(--Secondary-font);
  }
  .initial {
    cursor: initial;
  }
  .round {
    border-radius: var(--round);
  }
  .bold-56{
    font-size: 3.5rem;
    font-weight: bold;
  }
  .medium-44 {
    font-size: 2.75rem;
    font-weight: medium;
  }
  .medium-20{
    font-size: 1.25rem;
    font-weight: medium;
  }
  .semibold-23{
    font-size: 1.438rem;
    font-weight:600;
  }
  .semibold-25{
    font-size: 1.563rem;
    font-weight:600;
  }
  .light-20{
    font-size: 1.25rem;
    font-weight:300;
  }
  .regular-20{
    font-size: 1.25rem;
  }
  .regular-17{
    font-size: 1.063rem;
    font-weight:normal;
  }
  .semibold-17{
    font-size: 1.063rem;
    font-weight:600;
  }
  h1, .h1{
    font-size: 2.5rem;
  }
  h2, .h2{
    font-size: 2rem;
  }
  h3, .h3{
    font-size: 1.75px;
  }
  h4, .h4{
    font-size: 1.5rem;
  }
  h5, .h5{
    font-size: 1.25rem;
  }
  h6, .h6{
    font-size: 1rem;
  }
  .discover{
    font-size: 20px;
    font-weight:300;
    margin-bottom: -10px;
  }
@media screen and (max-width: 1199.98px) {
  html{
    font-size: 90%;
  }
  .about-pic{
    width: 404px;
    height: 528px;  
  }
  #small-group{
    margin: 22px 0px;
  }
  #blogwriting , #logodesign{
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .about-icon {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 1064.98px) {

  html{
    font-size: 85%;
  }
  #small-group{
    margin: 25px 0px;
  }
  .about-small-text{
    line-height: 25px;
  }
}
@media screen and (max-width: 991.98px){
  html{
    font-size: 75%;
  }

  #small-group{
    margin: 19px 0px;
  }
  .about-icon {
    width: 40px;
    height: 40px;
  }
  .tick{
    width: 16px;
    height: 16px;  
  }
  .discover{
    font-size: 16px;
  }
  .about-pic{
    width: 354px;
    height: 465px;  
  }
  #our-team .card{
    width: 90%;
  }
  #our-team .row{
    margin-left:2.5%;
  }
}
@media screen and (max-width: 767.98px) {
  html{
    font-size: 70%;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer div:nth-child(2) {
    flex-grow: 0;
    margin-top: 20px;
  }
  .semibold-21.text-pink {
    font-size: 18px;
  }

  #about-ft,
  #service-ft,
  #team-ft,
  #project-ft,
  #contact-ft, 
  #home-ft{
    display: block;
    text-align: left;
    font-size: 14px;
    margin: 10px 0;
  }
  #first{
    width: 100%;
  }
  #second{
    width: 100%;
  }
  #third{
    width: 100%;
  }
}
@media screen and (max-width: 575.98px) {
  html{
    font-size: 60%;
  }
  .team-margin{
    margin-left: 0px;
  }
  .about-icon {
    width: 25px;
    height: 25px;
  }
  .tick{
    width: 15px;
    height: 15px;
  }
  #our-team .card{
    width: 70%;
  }
  #our-team .row{
    margin-left:20%;
  }
}
@media screen and (max-width: 399.98px) {
  #our-team .card{
    width: 80%;
  }
  #our-team .row{
    margin-left:15%;
  }
}
@media screen and (max-width: 489.98px) {
  #email{
    width: 70%;
  }
}
@media screen and (max-width: 343.98px) {
  #email{
    width: 65%;

  }
  #submit-btn{
    padding:1rem 2rem;
  }
  #our-services .card .card-body img{
    width: 40%;
    padding: 0px;
  }
}
@media screen and (max-width: 299.98px) {
  #our-team .card{
    width: 90%;
  }
  #our-team .row{
    margin-left:5%;
  }
}


@media screen and (max-width: 1349.98px) {
  .big-olink{
      width: 603px;
      height: 222px;
    }
}
@media screen and (max-width: 1299.98px) {
  .big-olink{
    width: 569px;
    height: 209px;
    
  }
}
@media screen and (max-width: 1174.98px) {
  .big-olink{
    width: 532px;
    height: 196px;  
  }
}
@media screen and (max-width: 1099.98px) {
  .big-olink{
    width: 493px;
    height: 181px;  
  }
}
@media screen and (max-width: 1024.98px) {
  .big-olink{
    width: 450px;
    height: 165px;  
  }
}
@media screen and (max-width: 924.98px) {
  .big-olink{
    width: 402px;
    height: 148px;  
  }
}
@media screen and (max-width: 824.98px) {

  .big-olink{
    width: 348px;
    height: 128px;
    
  }
}
@media screen and (max-width: 724.98px) {

  .big-olink{
    width: 284px;
    height: 105px;
    
  }
}
@media screen and (max-width: 991.98px) {
    #home .row {
        justify-content: start;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    .nav-item {
      width: 100vw;
    }
  
    nav > .position-relative {
      --bs-gutter-x: 24px;
      --bs-gutter-y: 0;
      width: 100%;
      padding: 0;
      margin-right: 20px;
      margin-left: auto;
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
    }
  
    .navbar-toggler {
      padding: 0px;
      margin-right: 10px;
      line-height: 1;
      background-color: transparent;
      border: none;
      border-radius: var(--bs-navbar-toggler-border-radius);
      transition: var(--bs-navbar-toggler-transition);
    }
  }
  @media screen and (max-width: 767.98px) {
    #home .row {
      text-align: center;
      justify-content: center;
    }
    .hover {
      /* this is for two buttons below large text which have hover effect */
      font-size: 14px;
      padding: 15px 30px;
    }
  
    .hover1 {
      margin-right: 5px;
    }
  
    .hover2 {
      margin-left: 5px;
    }
  }
  @media screen and (max-width: 356.98px) {
    .hover {
      /* this is for two buttons below large text which have hover effect */
      font-size: 14px;
      padding: 12px 15px;
    }
  }
  